.login-button{
    background-color: #8DD89D !important;
    color: #445175;
}

.login-modal{
    height: 80vh;
    width: 60vw;
    background-color: #445175;
    margin: auto;
    margin-top: 12vh;
}

.login-modal-content{
    text-align: center;
}

.login-modal-content h1{
    font-size: 18pt;
    margin: 2%; 
    color: #8DD89D;
    text-decoration: underline;
}

.login-option{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.login-option p{
    margin: 5%;
}

.login-option button{
    margin-top: 10%;
    background-color: #8DD89D;
    color: #445175;
    width: 20vw;
    opacity: 70%;
}

.login-option button:hover{
    opacity: 100% !important;
    background-color: #8DD89D;
    color: #445175;
}

