@import './variables.scss';

.sc-user-input {
  // min-height: 65px;
  height: fit-content;
  max-height: 200px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  border-bottom-left-radius: $windowBorderRadius;
  border-bottom-right-radius: $windowBorderRadius;
  transition: background-color .2s ease, box-shadow .2s ease;

  border-top: 1px solid $borderColor;
}

.sc-user-input-warning {
  position: absolute;
  color: $warningColor;
  left: 64px;
  top: -24px;
  font-size: 13px;
  margin: 0;
}

.sc-user-input--text {
  width: 330px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 23px 18px 18px 64px;
  font-size: 15px;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: $threeBoxBlack;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  // vertical-align:middle;

  min-height: 72px;
  height: 72px;
  line-height: 22px;
  transition: ease-in-out .2s all;
}

.sc-user-input--text:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: rgba(86, 88, 103, 0.3);
  outline: none;
}

.sc-user-input--buttons {
  width: 30px;
  position: absolute;
  right: 10px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.sc-user-input--button:first-of-type {
  width: 40px;
}

.sc-user-input--button {
  width: 42px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sc-user-input--button button {
  cursor: pointer;
}

.sc-user-input--buttons input[type="file"] {
  display: none;
}

.sc-user-input--picker-wrapper {
  display: flex;
  flex-direction: column;
}

.sc-user-input.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

// .sc-user-input--file-icon,
.sc-user-input--send-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: center;
  outline: none;
}

// .sc-user-input--file-icon path,
.sc-user-input--send-icon path {
  fill: rgba(86, 88, 103, 0.3);
}

// .sc-user-input--file-icon:hover path,
.sc-user-input--send-icon:hover path {
  fill: rgba(86, 88, 103, 1);
}

// .sc-user-input--file-icon-wrapper
.sc-user-input--emoji-icon-wrapper,
.sc-user-input--send-icon-wrapper,
.sc-user-input--like-icon-wrapper {
  background: none;
  border: none;
  padding: 2px 2px 2px 2px;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input--like-icon-wrapper {
  margin: 0px;
  cursor: pointer;
}

// .sc-user-input--file-icon-wrapper,
.sc-user-input--send-icon-wrapper {
  flex-direction: row;
}

.sc-user-input--emoji-icon-wrapper:focus,
.sc-user-input--like-icon-wrapper:focus {
  outline: none;
}

.sc-user-input--emoji-icon {
  height: 22px;
  cursor: pointer;
  align-self: center;
}

.sc-user-input--emoji-icon path,
.sc-user-input--emoji-icon circle,
.sc-user-input--like-icon {
  fill: rgba(86, 88, 103, 0.3);
}

.sc-user-input--like-icon {
  fill: rgba(97, 77, 86, 0.3);
}

.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon path,
.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon circle,
.sc-user-input--emoji-icon.active path,
.sc-user-input--emoji-icon.active circle,
.sc-user-input--emoji-icon:hover path,
.sc-user-input--emoji-icon:hover circle {
  fill: rgba(86, 88, 103, 1);
}

.sc-user-input--like-icon {
  height: 13px;
  cursor: pointer;
  align-self: center;
  transition: fill 0.25s ease;
}

.sc-user-input--like-icon.liked {
  fill: red;
}

.sc-user-input--like-icon.not-liked:hover {
  fill: #bd8888;
}

@media (max-width: 450px) {
  .sc-user-input--text {
    font-size: 16px;
  }

  .hasText.sc-user-input--send-icon path {
    fill: rgba(86, 88, 103, 1);
  }
}
