$lightFont:#54545e;
$lighterFont:#7d7d7d;
$lightestFont:#c1c1c1;
$warningColor:#d24c4c;

$windowBorderRadius: 14px;

$threeBoxBlack: #181F21;
$threeBoxBlackHover: rgb(47, 56, 58);

$maxCommentWidth: 600px;
$minCommentWidth: 300px;

$minCommentWidth-mobile: 260px;

$commentPictureDimension: 42px;

$commentPictureDimension-mobile: 50px;

$borderColor:#e8e8e8;

$onlineGreen: #52d08b;
