body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pushUp {
  position: relative;
  top: -15px;
}

.pushDown{
  position: relative;
  top: 18px;
}

.sectionText{
  text-align: center;
  font-size: .7em;
}

.bigTitle {
  font-size: 2.7em;
  text-align: center;
  font-family: "Courier New";
}

.sectionTitle {

  font-size: 2.2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.sectionSubTitle{
  font-style: italic;
  font-size: .9em;
  text-align: center;
}

.noteButton{
  position: absolute;
  left: 600px;
}

.centerText{
  text-align: center;
}

.cardContainer{
  height: 100%;
  margin: 15px;
}

.fatBottomed{
  margin-bottom: 21px;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
  display: flex;
  align-items: center;
}

.profileContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesContainer{
  display: flex;
  justify-content: center!important;
  align-items: center;
  text-align: center;
}

.txnButton{
  position: relative;
  left: 12px;
}

.navbar-brand{
  color: white!important;
}

.navbar-brand:hover{
  text-decoration: underline;
}

.a:hover{
  color: white!important;
}


.threeboxProfileHover__style_boxShortAddress{
  color: white!important;
}

.fullWidth {
  width: 100%!important;
}

.sideMargin{
  margin-left: 30px;
}

.navLink{
  font-size: 2.3vm;
  position: relative;
  top: -2px;
}

/* 3box Plugin Reskinning */
.edit_profile_value--description{
  color: black!important;
}

.edit_profile_value{
  color: black!important;
}

.edit_formControls_content_save {
  background: linear-gradient( 190deg, #32FFF5 -100%, #08BEE5 80% );
    background-image: linear-gradient(190deg, rgb(50, 255, 245) -100%, rgb(8, 190, 229) 80%);
}

.threeboxProfileHover__style_hoverProfile  {
  width: 300px!important;
}
