body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pushUp {
  position: relative;
  top: -15px;
}

.sectionText{
  text-align: center;
  font-size: .7em;
}

.sectionTitle {

  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.sectionSubTitle{
  font-style: italic;
  font-size: .9em;
  text-align: center;
}
